altair==5.3.0
altgraph==0.17.4
anyio==4.3.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings
arrow==1.3.0
asttokens==2.4.1
async-lru
attrs==23.2.0
Babel==2.14.0
beautifulsoup4
bleach==6.1.0
blinker==1.7.0
Bottleneck==1.3.8
Brotli==1.1.0
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer
click==8.1.7
comm
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.1
decorator
defusedxml
executing==2.0.1
fastjsonschema==2.19.1
fonttools==4.51.0
fqdn==1.5.1
FreeSimpleGUI==5.2.0.post1
gitdb==4.0.11
GitPython
h11
httpcore==1.0.5
httpx
idna
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
joblib
json5==0.9.20
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.1
jupyter_core
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.1
jupyterlab_pygments
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
macholib==1.16.3
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
narwhals==0.7.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat
nest-asyncio
notebook==7.2.0
notebook_shim
numexpr==2.9.0
numpy==1.26.4
overrides==7.7.0
packaging
pandas
pandocfilters
parso
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.0
prometheus_client==0.20.0
prompt-toolkit
protobuf==4.25.3
psutil==5.9.8
ptyprocess
pure-eval
pyarrow==16.1.0
pyasn1==0.6.1
pycparser==2.22
pydeck==0.9.1
Pygments==2.19.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pyparsing==3.1.2
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.10.2
PySimpleGUI==5.0.8.3
PySocks
python-dateutil==2.9.0
python-json-logger==2.0.7
pytz
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy
referencing==0.34.0
requests
rfc3339-validator
rfc3986-validator
rich==13.9.4
rpds-py==0.18.0
rsa==4.9.1
scikit-learn==1.5.0
scipy
Send2Trash==1.8.3
sip==6.12.0
six
smmap==5.0.1
sniffio==1.3.1
soupsieve
stack-data==0.6.3
streamlit==1.35.0
tenacity==8.3.0
terminado==0.18.1
threadpoolctl
tinycss2==1.3.0
toml
toolz==1.0.0
tornado==6.4.1
traitlets
types-python-dateutil==2.9.0.20250809
typing_extensions==4.12.0
tzdata==2024.1
unicodedata2
uri-template==1.3.0
urllib3==2.2.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client
widgetsnbextension==4.0.10