altgraph==0.17.4
argon2-cffi-bindings
async-lru
beautifulsoup4
cffi>=1.17.0
charset-normalizer
comm
decorator
defusedxml
FreeSimpleGUI==5.2.0.post1
GitPython
h11
httpx
idna
joblib
jupyter-console
jupyter_core
jupyterlab_pygments
macholib==1.16.3
matplotlib==3.10.0
nbformat
nest-asyncio
notebook_shim
packaging
pandas
pandocfilters
parso
prompt-toolkit
ptyprocess
pure-eval
pyasn1==0.6.1
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PySocks
pytz
QtPy
requests
rfc3339-validator
rfc3986-validator
rsa==4.9.1
six
soupsieve
threadpoolctl
toml
traitlets
unicodedata2
webencodings==0.5.1
websocket-client